name: Publish Release

on:
  push:
    tags: ["v*.*.*"]

permissions:
  contents: write
  id-token: write

jobs:
  sync-latest-branch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2
        with:
          bun-version-file: .tool-versions

      - run: bun ci

      - id: check-stability
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7
        with:
          script: |
            const { prerelease } = require('semver')
            const { version } = require('./package.json')
            return !prerelease(version)

      - if: steps.check-stability.outputs.result
        run: |
          git checkout -b latest origin/latest
          git merge --ff-only origin/main
          git push origin latest

  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2
        with:
          bun-version-file: .tool-versions

      - run: bun ci
      - run: bun run build
      - run: bun i -g npm@latest
      - run: npm config set //registry.npmjs.org/:_authToken "${{ secrets.NPM_ACCESS_TOKEN }}"
      - run: npm publish
